---
layout: index
title: Haryaloka
tagline: Haryaloka, Your Best Wedding Planner
img : 1.jpg
img-mobile : 1-mobile.jpg
css: index.css
js: test.js
keywords: wedding, event, wedding planner, event planner, wedding organizer, event organizer
canonical: https://haryaplanner.com
---
{% include JB/setup %}

<!-- ****************** Modal subcribe box sample ************************
<div id="demosMenu">
	<div class="content__container">
	<p class="content__container__text heavy"><a id="trigger-overlay" style="color:white" href="#">
		Know <span class="pink">me</span></a>
	</p>

</div>
</div>-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div id="socialMenu">
	{% include social-block.html %}
</div>

<div id="fullpage">
	<div data-anchor="0section" class="section" id="section0">

		<h1 class="heavy"><span class="pink">Haryaloka</span></h1>
		<br /><h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				Your Event Organizer Solution.
			</span></span>
			<br />
		</h2>

		<br /><h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
				We believe that everyone has a dream, we provide solution for your dream.
			</span></span>
			<br />
		</h3>

			<div class="intro-scroll-down">
			  <a data-menuanchor="1section" href="#1section">
			    <span class="mouse">
			      <span class="mouse-dot"></span>
			    </span>
			  </a>
			</div>



	</div>

	<div data-anchor="1section" class="section" id="section1">
			<h1 class="heavy">Why <span class="pink">Choose</span> Us</h1>
			<br /><h2 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					We use the best team that <strong>Experienced, Active and Innovative</strong> in all aspects.
				</span></span>
			</h2>
			<br /><h3 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					With our large connections, we ensure that your specific needs are possible to manage.
				</span></span>
				<br />
			</h3>			

				<div class="intro-scroll-down">
					<a data-menuanchor="2section" href="#2section">
						<span class="mouse">
							<span class="mouse-dot"></span>
						</span>
					</a>
				</div>
	</div>

	<div data-anchor="2section" class="section" id="section2">
			<h1 class="heavy">Our <span class="pink">Services!</span></h1>
			<br /><h2 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					Organizing budget is our top priority.
				</span></span>
			</h2>

			<br /><h3 class="large-blur">
				<span class="highlight-container"><span class="highlight">
					Define a <strong>Purpose</strong> and <strong>Format</strong> is must, ensuring your event with a big success.
				</span></span>
				<br />
			</h3>			

				<div class="intro-scroll-down">
					<a data-menuanchor="3section" href="#3section">
						<span class="mouse">
							<span class="mouse-dot"></span>
						</span>
					</a>
				</div>
	</div>

	<div data-anchor="3section" class="section" id="section3">
		<h1 class="heavy">Here <span class="pink">are our best</span> collection!</h1>
		<br /><h2>
			<span class="highlight-container"><span class="highlight">
			Check out our social media below for collection.
			</span></span>
		</h2>
		<div class="intro-scroll-down">
			<a data-menuanchor="4section" href="#4section">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>

	<div data-anchor="4section" class="section" id="section4">
		<h1 class="heavy"><span class="pink">Don't hesitate</span> to contact!
		</h1><br />
		<h2 class="large-blur">
			<span class="highlight-container"><span class="highlight">
			Communication is a key</bt>
			</span></span>
		</h2>
		<br /><h3 class="large-blur">
			<span class="highlight-container"><span class="highlight">
			Contact us by pressing the icon on the bottom left, We are happy to help you anytime!
			</span></span>
			<br />
		</h3>		

		{% include ads-block.html %}

		<div class="intro-scroll-down">
			<a data-menuanchor="0section" href="#0section">
				<span class="mouse">
					<span class="mouse-dot"></span>
				</span>
			</a>
		</div>
	</div>
</div>
