<div class="side-bar sticky-top">
  <br/>
  <hr>
  <div><!--
  	<div class="post">
    <h4>Follow Me Buddy!</h4>
    </div>-->
    
    {% include social-block.html %}

  </div>
  <hr>
  <div>

    {% include ads-block.html %}
   
    
  </div>
  <hr>
</div>
              
