<!-- Fixed navbar <nav class="navbar navbar-toggleable-md navbar-inverse sticky-top bg-inverse"> -->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ BASE_PATH }}">Harya Planner</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
          {% assign pages_list = site.pages %}
          {% assign group = 'navigation' %}
          {% include JB/pages_list %}
    </ul>
  </div>
</nav>